html, body {
    height: 100%;
}

.flip-div{
    cursor: pointer;
}
.flip-div:hover .back,.flip-div.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.flip-div:hover .front,.flip-div.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-main{
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-main, .front, .back{
    width: 10em !important;
    height: 13em !important;
    margin-bottom: 2em !important;
}
.front{
    position: absolute;
    z-index: 2;

}
.back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);

}
.back ul li a{
    font-size: 18px;
}
.front,.back {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

footer{
    width:100% !important;
    bottom:0;
    clear:both;
}

.navbar{
    position:fixed;
    width: 100%;
    z-index: 100;
}

html{
    overflow-x: hidden;
}

.caratula{
 height: 99.9%;
}

.tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.carrousel-row{
    margin-left: 6rem;
    margin-right: 6rem;

}

#contenedor-carousel{
    background-color: #1f6fb2;
    margin-bottom: 5em;
    border: solid 0.5em;
}

#contenidor-videojocs{
    margin-left: 3em;
}

.info-destacado{
    margin-top: 1em;
    margin-bottom: 1em;
}